.main-content {
  margin: 90px auto 0;

  .guide &,
  .docs & {
    max-width: 1200px;
  }

  @include media('<desktop') {
    margin-top: 50px;
  }
}

.content {
  padding: 5px 0 40px;
  max-width: 650px;

  h1 {
    font-size: 30px;
    margin-top: 2em;
  }

  h2 {
    font-size: 20px;
    margin-top: 2.4em;
  }

  p {
    line-height: 1.8;
    font-size: 15px;
  }

  strong {
    font-weight: bold;
  }

  ul {
    list-style: disc;
    padding-left: 20px;

    li {
      margin: .5em 0;
    }

    ul {
      list-style: circle;
    }
  }

  code {
    font-family: "Roboto Mono";
    color: #ffce29;
    background: #f3f3f3;
    font-size: .8em;
    display: inline-block;
    padding: .1em .3em;
  }

  figure {
    margin: 1.2em 0;
  }

  &.with-sidebar {
    margin-left: 320px;
  }
}