.main-content {
  margin-top: 90px;

  @include media('<desktop') {
    margin-top: 50px;
  }
}

.content {
  padding: 60px 0 40px;
  max-width: 650px;

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
    margin-top: 2.4em;
  }

  p {
    line-height: 1.8;
    font-size: 15px;
  }

  strong {
    font-weight: bold;
  }

  code {
    font-family: "Roboto Mono";
    color: #ffce29;
    background: #f3f3f3;
    font-size: .8em;
    display: inline-block;
    padding: .1em .3em;
  }

  figure {
    margin: 1.2em 0;
  }

  &.with-sidebar {
    margin-left: 320px;
  }
}