.main-header {
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  box-shadow: 0 1px 1px rgba(0,0,0,.08);
  z-index: 4;
  padding: 0 60px;
  box-sizing: border-box;

  img {
    position: absolute;
    top: 50%;
    margin-top: -20px;
  }

  body.guide &,
  body.examples &,
  body.community &,
  body.api & {
    position: fixed;
  }

  @include media('<tablet') {
    position: fixed;
    height: 50px;
    padding: 10px 20px;

    img {
      left: 50%;
      transform: translateX(-50%);
      max-width: 150px;
      margin-top: -15px;
    }
  }

  @include media('>=tablet') {
    .nav-toggle {
      display: none;
    }
  }
}

.navigation {
  float: right;
  margin-top: 35px;
}

.recent-version {
  display: inline-block;
  font-family: Lato;
  font-size: 18px;
  text-decoration: none;
  color: #E6B718;
  padding-left: 15px;

  @include media('<desktop') {
    display: none;
  }
}