.main-header {
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  box-shadow: 0 1px 1px rgba(0,0,0,.08);
  z-index: 4;
  padding: 0 60px;
  box-sizing: border-box;

  img {
    position: absolute;
    top: 50%;
    margin-top: -20px;
  }

  body.guide &,
  body.examples &,
  body.community &,
  body.api & {
    position: fixed;
  }

  @include media('<tablet') {
    position: fixed;
    height: 50px;
    padding: 10px 20px;

    img {
      left: 50%;
      transform: translateX(-50%);
      max-width: 150px;
      margin-top: -15px;
    }
  }

  @include media('>=tablet') {
    .nav-toggle {
      display: none;
    }
  }
}

.navigation {
  float: right;
  margin-top: 35px;
}

.recent-version {
  display: inline-block;
  font-family: Lato;
  font-size: 16px;
  text-decoration: none;
  color: #E6B718;
  padding-left: 15px;

  svg {
    position: relative;
    top: 2px;
  }

  @include media('<desktop') {
    display: none;
  }
}

.main-search {
  font-family: Lato;
  padding: 10px 35px;
  border-radius: 25px;
  margin: 28px 20px 0 0;
  border: 1px solid #ececec;
  outline: none;
  background: #fff url(/images/search.svg) 8px 9px no-repeat;

  &::placeholder {
    color: #b2b2b2;
  }
}

.main-search,
.algolia-autocomplete {
  float: right;
  display: inline-block;
  position: relative;
  display: inline-block;
  direction: ltr;
}

#search-query-nav {
  @include media('<desktop') {
    display: none;
  }
}