.mobile-nav {
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 280px;
  background: #f3f3f3;
  transform: translateX(-100%);
  z-index: 3;
  box-shadow: 1px 0 2px rgba(0,0,0,.12);
  padding: 30px 20px 0;
  box-sizing: border-box;
  transition: transform 300ms ease-in-out;
  overflow-y: auto;

  &.is-expanded {
    transform: translateX(0);
  }

  @include media('>=tablet') {
    display: none;
  }

  h3 {
    margin-top: 30px;
  }

  h4 {
    margin-top: 20px;
  }

  h4 {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .main-search {
    margin: 0 0 20px 0;
    width: 100%;
    box-sizing: border-box;
    float: none;
  }

  .algolia-autocomplete {
    float: none;
    width: 100%;

    .ds-dropdown-menu {
      min-width: 240px;
    }

    .algolia-docsearch-suggestion {
      font-size: 14px;
    }

    .ds-suggestion:first-child .algolia-docsearch-suggestion--category-header {
      margin-top: 0;
    }

    .algolia-docsearch-suggestion--title {
      margin-left: 5px;
    }

    .algolia-docsearch-suggestion--subcategory-column {
      display: none !important;
    }

    .algolia-docsearch-suggestion--text {
      padding: 2px 5px;
    }
  }

  .mobile-nav__link,
  .mobile-nav__sidebar-link {
    display: inline-block;
    color: $text-color;
    line-height: 1.8;
    font-size: 14px;
    font-weight: normal;

    &.current {
      &.current,
      &:hover {
        border-bottom: 2px solid $primary-color;
      }
    }
  }
}

.mobile-nav__sidebar.api .sidebar-nav__link {
  padding-left: 10px;
  font-size: 12px;
}