.hero {
  height: 450px;
  background: url("/images/background.svg") $primary-color no-repeat 50% 50%;

  h1 {
    margin-bottom: 60px;
    line-height: 1.2;
  }

  .button + .button {
    margin-left: 20px;
  }

  @include media("<=tablet") {
    height: auto;

    h1 {
      font-size: 25px;
      line-height: 1.5;
    }
  }
}

.hero__content {
  max-width: 630px;
  margin: 0 auto;
  padding: 120px 0;
  text-align: center;

  @include media("<=tablet") {
    padding: 80px 40px;
  }
}