.hero {
  height: 450px;
  background: url("/images/background.svg") $primary-color no-repeat 50% 50%;

  h1 {
    margin-bottom: 60px;
    line-height: 1.2;
  }

  .button + .button {
    margin-left: 20px;
  }

  @include media("<=tablet") {
    height: auto;

    .button + .button {
      margin-left: 10px;
    }

    h1 {
      font-size: 25px;
      line-height: 1.5;
    }
  }

  @include media("<=phone") {
    .button {
      font-size: 13px;
    }
  }
}

.hero__content {
  max-width: 630px;
  margin: 0 auto;
  padding: 120px 0;
  text-align: center;

  @include media("<=tablet") {
    padding: 80px 40px 60px;

    h1 {
      margin-bottom: 40px;
    }
  }
}