.main-nav {
  display: inline-block;

  @include media('<tablet') {
    display: none;
  }
}

.main-nav__link {
  font-size: 16px;
  color: #6C6C6C;
  text-decoration: none;
  padding: 0 0 3px;
  margin: 0 15px;
  font-weight: normal;

  &.current,
  &:hover {
    border-bottom: 4px solid $primary-color;
  }
}