.sidebar-nav {
  h3 {
    margin-top: 1.5em;
  }

  h4 {
    font-size: 13px;
    margin: 1.5em 0 .5em;

    a {
      color: #5a5a5a;
      font-weight: normal;
    }
  }
}

.sidebar-nav__link {
  text-decoration: none;
  color: rgba($text-color, .8);
  line-height: 1.8;
  font-size: 14px;
  font-weight: normal;

  .sidebar-nav.api & {
    font-size: 12px;
    padding-left: 10px;
    line-height: 2;
  }

  &.current {
    color: #ffc60a;
  }
}