.sidebar-nav {
  h3 {
    margin-top: 1.5em;
  }

  h4 {
    margin: 1.5em 0 .5em;
  }
}

.sidebar-nav__link {
  text-decoration: none;
  color: $text-color;
  line-height: 1.8;
  font-size: 14px;
  font-weight: normal;

  .sidebar-nav.api & {
    font-size: 13px;
    padding-left: 10px;
  }

  &.current {
    color: $primary-color;
  }
}