.sponsor {
    text-align: center;
    padding: 40px 0;
    

    p {
        display: inline-block;
        vertical-align: middle;
        opacity: .7;
    }
    
    img {
        display: inline-block;
        vertical-align: middle;
        width: 150px;
        opacity: .7;
        margin: 0 12px;
        padding: 0;
    }

    @include media('<tablet') {
        p {
            display: block;
            margin-bottom: 10px;
            font-size: 12px;
        }
    }
}
