<li>
    <h3>Strudel API</h3>
</li>
<li>
    <h4>Decorators</h4>
</li>
<li>
    <a href="#Component" class="sidebar-nav__link">@Component</a>
</li>
<li>
    <a href="#Evt" class="sidebar-nav__link">@Evt</a>
</li>
<li>
    <a href="#El" class="sidebar-nav__link">@El</a>
</li>
<li>
    <h4>Instance properties</h4>
</li>
<li>
    <a href="#element" class="sidebar-nav__link">$element</a>
</li>
<li>
    <a href="#data" class="sidebar-nav__link">$data</a>
</li>
<li>
    <h4>Instance methods/events</h4>
</li>
<li>
    <a href="#teardown" class="sidebar-nav__link">$teardown</a>
</li>
<li>
    <a href="#emit" class="sidebar-nav__link">$emit</a>
</li>
<li>
    <a href="#on" class="sidebar-nav__link">$on</a>
</li>
<li>
    <a href="#off" class="sidebar-nav__link">$off</a>
</li>
<li>
    <h4>Instance methods/lifecycle</h4>
</li>
<li>
    <a href="#beforeInit" class="sidebar-nav__link">beforeInit</a>
</li>
<li>
    <a href="#init" class="sidebar-nav__link">init</a>
</li>
<li>
    <a href="#beforeDestroy" class="sidebar-nav__link">beforeDestroy</a>
</li>
<li>
    <a href="#destroy" class="sidebar-nav__link">destroy</a>
</li>
<li>
    <h3>DOM API</h3>
</li>
<li>
    <h4>Traversing</h4>
</li>
<li>
    <a href="#find" class="sidebar-nav__link">find</a>
</li>
<li>
    <a href="#children" class="sidebar-nav__link">children</a>
</li>
<li>
    <a href="#parent" class="sidebar-nav__link">parent</a>
</li>
<li>
    <a href="#eq" class="sidebar-nav__link">eq</a>
</li>
<li>
    <a href="#first" class="sidebar-nav__link">first</a>
</li>
<li>
    <a href="#array" class="sidebar-nav__link">array</a>
</li>
<li>
    <h4>Filtering</h4>
</li>
<li>
    <a href="#filter" class="sidebar-nav__link">filter</a>
</li>
<li>
    <a href="#map" class="sidebar-nav__link">map</a>
</li>
<li>
    <a href="#each" class="sidebar-nav__link">array</a>
</li>
<li>
    <a href="#is" class="sidebar-nav__link">is</a>
</li>
<li>
    <h4>Manipulation</h4>
</li>
<li>
    <a href="#append" class="sidebar-nav__link">append</a>
</li>
<li>
    <a href="#prepend" class="sidebar-nav__link">prepend</a>
</li>
<li>
    <a href="#remove" class="sidebar-nav__link">append</a>
</li>
<li>
    <a href="#text" class="sidebar-nav__link">text</a>
</li>
<li>
    <a href="#html" class="sidebar-nav__link">html</a>
</li>
<li>
    <a href="#attr" class="sidebar-nav__link">attr</a>
</li>
<li>
    <a href="#data" class="sidebar-nav__link">data</a>
</li>
<li>
    <a href="#addClass" class="sidebar-nav__link">addClass</a>
</li>
<li>
    <a href="#removeClass" class="sidebar-nav__link">removeClass</a>
</li>
<li>
    <a href="#toggleClass" class="sidebar-nav__link">toggleClass</a>
</li>
<li>
    <h4>Events</h4>
</li>
<li>
    <a href="#trigger" class="sidebar-nav__link">trigger</a>
</li>
<li>
    <a href="#on-1" class="sidebar-nav__link">on</a>
</li>
<li>
    <a href="#off-1" class="sidebar-nav__link">off</a>
</li>