<header class="main-header">
    <button class="nav-toggle"><span></span></button>
    <a class="main-logo" href="/"><img src="/images/strudel.svg"></a>
    <div class="navigation">
        <nav class="main-nav" role="navigation">
            <% for (var i in theme.menu){ %>
            <a class="main-nav__link<%- path.match(theme.menu[i].substring(1)) ? ' current' : '' %>" href="<%- url_for(theme.menu[i]) %>" ><%= i %></a>
            <% } %>
        </nav>
        <a href="http://github.com/strudeljs/strudel/releases" target="_blank" class="recent-version">v<%-theme.version%></a>
    </div>
    <input type="text" class="main-search" id="search-query-nav" placeholder="Search docs">
</header>