<%- partial('_partial/head') %>
<body>
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
    <div class="main-content">
        <section class="hero">
            <div class="hero__content">
                <h1>Javascript component framework with a twist</h1>
                <a href="#" class="button button--fixed" role="button">Get started</a></li>
                <a href="#" class="button button--secondary button--fixed" role="button">Github</a>
            </div>
        </section>
        <div class="container">
            <section class="promos flex-grid">
                <div class="col">
                    Asdf
                </div>
                <div class="col">
                    Ddd
                </div>
                <div class="col">
                    Ggg
                </div>
            </section>
        </div>
        <% site.pages.find({ type: 'guide'}).each(function (page) { %>
        <span>← <a href="<%- url_for(page.path) %>"><%- page.title %></a></span>
        <% }) %>
    </div>
</body>
</html>