@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local(''),
            url('../fonts/comfortaa-v22-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../fonts/comfortaa-v22-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@import 'util/variables';
@import 'util/mixins';

@import 'generic/reset';
@import 'generic/highlight';

@import 'elements/typography';
@import 'elements/container';
@import 'elements/grid';

@import 'layout/header';
@import 'layout/content';
@import 'layout/sidebar';
@import 'layout/footer';
@import 'layout/mobile-nav';
@import 'layout/index';

@import 'components/hero';
@import 'components/main-nav';
@import 'components/sidebar-nav';
@import 'components/buttons';
@import 'components/promo';
@import 'components/quick-links';
@import 'components/nav-toggle';
@import 'components/sponsor';
@import 'components/search';
@import 'components/tabs';
@import 'components/iframe';
@import 'components/contributors';
@import 'components/flash-message';
